<app-nav></app-nav>

<br>
<br>

      <div class="container-flex">
          <div class="bg-primary text-white container-flex">
              <h2 class="text-center">ADMIN HOME</h2>
            </div>
            <div class="row">
              <div class="col">
               <app-admin-info></app-admin-info>
              </div>
              <div class="col">
              <app-allusers></app-allusers>
              </div>
              <div class="col">
                <app-stats></app-stats>
                
              </div>
            </div>
          </div>
          <br>
          <br>
<app-footer></app-footer>