<div class="card text-center">
        <div class="card-header">
          User Stats
        </div>
          <div class="card-body">
            <p class="card-text"></p>
                  <div class="form-group">
                      <p><ngb-progressbar type="info" [value]="40" [striped]="true" [animated]="true"><i>Learning</i></ngb-progressbar></p>
                      <p><ngb-progressbar type="success" [value]="77" [striped]="true">Mastered!</ngb-progressbar></p>
                  </div>
           
        </div>
        <div class="card-footer text-muted">
          </div>
   </div>
    
   
    