<app-nav></app-nav>

<div class="jumbotron bg-light text-center">
    <h3 class="display-3">The Quizard of Oz</h3>
    <p>Is a quiz/flashcard based game that allows users to effectively study. Founded in 2019, our application brings fun to the flashcard game.</p>
    <hr class="my-4">
    <div class="text-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSes_WBQ_v4LPMZOVrvsJBj2ge4weZ2c-fJmhsi8plWZ5OzXbg/viewform?embedded=true" width="640" height="646" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
  
<app-footer></app-footer>
