<app-nav></app-nav>

<!--userHome-->
<div class="container-flex">
 <div class="bg-primary text-white container-flex">
   <h2 class="text-center">USER HOME</h2>
 </div>
 <br>
    <div class="row">
      <div class="col">
       <app-user-info></app-user-info>
      </div>
      <div class="col">

          <app-attempt></app-attempt>

      </div>
      <div class="col">
        <app-stats></app-stats>
        <app-user-pull-cards></app-user-pull-cards>
      </div>
    </div>
  </div>
  <br>
  <br>
<app-footer></app-footer>